[Unit]
Description=dmz service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=centos
ExecStart=/usr/bin/env php ~/git/IT4902020/dmzService/dmzServer.php

[Install]
WantedBy=multi-user.target
