[Unit]
Description=Front-End Service
After= apache2.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
ExecStart=/usr/bin/env php /home/ubuntu/git/IT4902020/WebServer/listenUpdate.php & /home/ubuntu/git/IT4902020/WebServer/listenDisLog.php &

[Install]
WantedBy=multi-user.target
