body {
	margin: 20%;
	background-color: #F0F0F0;
	text-align: center;
	transform: scale(1.5);
}

h2 {
	text-align: center;
	font-size 35px;
}

#bmicalc {
	text-align: center;
}

form {
	display: inline-block;
	margin: auto;
	width: 50%;
}

form input[type=number] {
	padding-top: 5px;
	border: none;
	border-bottom: 1px solid black;
	background: transparent;
}
